body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    align-items: center;
    flex-direction: column  ;
}
h1 {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
    width: 100%;
}
h2 {
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}
h3{
    font-weight: 500;
    color: #007bff;
}

a {
    text-decoration: underline;
    color: #007bff;
    font-size: 18px;
}
form {
    display: inline-block;
}
form label {
    margin-right: 10px;
    font-size: 16px;
}
form input {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}
form button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #0364cc;
}